#box1 {
    background-color: grey;
    position: absolute;
    max-width: 92%;
    left: 4%;
    top: 9%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 5%;
    line-height: normal;
    border-top-left-radius: 1%;
    border-top-right-radius: 1%;
    border-bottom-left-radius: 1%;
    border-bottom-right-radius: 1%;
}
  :valid {
    border-width: 2px;
    border-color: green;
  }
  :invalid {
    border-width: 2px;
    border-color: red;
  }
