.disabled {
    pointer-events: none;
    opacity: 0.6;
}

.pointer {
    cursor: pointer;
}

.my-button {
    margin-left: 10px; /* add 10px of space on the left */
  }

.selected {
    background-color: #005438;
}
#component {
    right: 1000px;
}



.sortable:hover{
    cursor: pointer;
    background-color: #e0e0e0;
}

.nameinfo:hover{
    cursor: help;
}

.clubFilterForm{

}

.deleteBin{
    color: #52585f;
}
.deleteBin:hover{
    color: red;
    cursor: pointer;
}

.deleteBinSweep{
    margin-left: 5px;
    color: #52585f;
}

.deleteBinSweep:hover{
    color: red;
    cursor: pointer;
}

.editIcon {
    color: #52585f;
    margin-left: 5px;
}

.editIcon:hover {
    background-color: #dadada;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    color: red;
}
