.disabled {
    pointer-events: none;
    opacity: 0.6;
}

.pointer {
    cursor: pointer;
}

.my-button {
    margin-left: 10px; /* add 10px of space on the left */
    margin-right: 10px;
  }

.selected {
    background-color: #005438;
}


.sortable:hover{
    cursor: pointer;
    background-color: #e0e0e0;
}

.nameinfo:hover{
    cursor: help;
}

.clubFilterForm{

}
