<meta name="referrer" content="no-referrer" />
<!-- Spieler State is used in switch statement: if 'APP_LOADING' -> required action, 'APP_LOADED' -> required action, etc.. -->
<ng-container *ngIf="(spielerState$ | async) as state" [ngSwitch]="state.appState">
  <!--subscribing to the observable with async-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="http://localhost:4200">FifaFinder</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <div class="dropdown">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
              aria-expanded="false" data-bs-auto-close="outside">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-filter"
                viewBox="0 0 16 16">
                <path
                  d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z" />
              </svg> Filter
            </button>

            <button  class="btn btn-secondary my-button" (click)="getSelectedPlayerIds()">Vergleichen</button>
            <!-- <button [routerLink]="['/vergleich']" class="btn btn-secondary my-button" (click)="getSelectedPlayerIds()">Vergleichen</button> -->
            <button [routerLink]="['/editPlayer', false]" class="btn btn-secondary my-button">Edit Player</button>
            <button [routerLink]="['/editPlayer', true]" class="btn btn-secondary my-button">Add Player</button>


<!--            <mat-form-field appearance="fill">-->
<!--              <mat-label>Delete In...</mat-label>-->
<!--              <mat-select [formControl]="delFifaVersion" multiple>-->
<!--                <mat-option *ngFor="let version of fifaVersionList" [value]="version.id">{{version.id}}</mat-option>-->
<!--              </mat-select>-->
<!--            </mat-form-field>-->
<!--            <button [routerLink]="['/start']" mat-flat-button color="warn" (click)="deleteAllLogic(444)">Delete</button>-->

            <form class="dropdown-menu p-4" style="width: 700px;">
              <mat-form-field class="clubFilterForm" appearance="outline">
                <mat-label>Club</mat-label>
                <input type="text"
                       placeholder="Pick one"
                       aria-label="Number"
                       matInput
                       [formControl]="clubFilter"
                       [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let club of filteredClubs | async" [value]="club.clubName">
                    <img [src]="club.clubLogo" [height]="24" [width]="24" appHideMissing> {{club.clubName}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>

              <div class="row g-3">
                <div class="col-sm-3 col-form-label"><label for="fifaVersion">Fifa version</label></div>
                <div class="col-auto"><input [(ngModel)]="fifaVersion" [ngModelOptions]="{standalone: true}"
                  (ngModelChange)="onFifaVersionChange(fifaVersion)" name="fifaVersion" type="number" id="fifaVersion"
                  placeholder="Year"></div>
              </div>


              <div class="row g-3">
                <div class="col-sm-3 col-form-label"><label for="age">Age</label></div>
                <div class="col-auto"><input [(ngModel)]="ageMin" [ngModelOptions]="{standalone: true}"
                  (ngModelChange)="ageMin = ageMin || 0" name="ageMin" type="number" id="ageMin"
                  placeholder="Minimum Age"></div>
                <div class="col-auto"><input [(ngModel)]="ageMax" [ngModelOptions]="{standalone: true}"
                  (ngModelChange)="ageMax = ageMax || 100" name="ageMax" type="number" id="ageMax"
                  placeholder="Maximum Age"></div>
              </div>

              <div class="row g-3">
                <div class="col-sm-3 col-form-label"><label for="overall">Overall</label></div>
                <div class="col-auto"><input [(ngModel)]="overallMin" [ngModelOptions]="{standalone: true}"
                  (ngModelChange)="overallMin = overallMin || 0" name="overallMin" type="number" id="overallMin"
                  placeholder="Minimum Overall"></div>
                <div class="col-auto"><input [(ngModel)]="overallMax" [ngModelOptions]="{standalone: true}"
                  (ngModelChange)="overallMax = overallMax || 100" name="overallMax" type="number" id="overallMax"
                  placeholder="Maximum Overall"></div>
              </div>

              <div class="row g-3">
                <div class="col-sm-3 col-form-label"><label for="potential">Potential</label></div>
                <div class="col-auto"><input [(ngModel)]="potentialMin" [ngModelOptions]="{standalone: true}"
                  (ngModelChange)="potentialMin = potentialMin || 0" name="potentialMin" type="number" id="potentialMin"
                  placeholder="Minimum Potential"></div>
                <div class="col-auto"><input [(ngModel)]="potentialMax" [ngModelOptions]="{standalone: true}"
                  (ngModelChange)="potentialMax = potentialMax || 100" name="potentialMax" type="number" id="potentialMax"
                  placeholder="Maximum Potential"></div>
              </div>

              <div class="row g-3">
                <div class="col-sm-3 col-form-label"><label for="potential">Height</label></div>
                <div class="col-auto"><input [(ngModel)]="heightMin" [ngModelOptions]="{standalone: true}"
                  (ngModelChange)="heightMin = heightMin || 0" name="heightMin" type="number" id="heightMin"
                  placeholder="Minimum Height"></div>
                <div class="col-auto"><input [(ngModel)]="heightMax" [ngModelOptions]="{standalone: true}"
                  (ngModelChange)="heightMax = heightMax || 300" name="heightMax" type="number" id="heightMax"
                  placeholder="Maximum Height"></div>
              </div>

              <div class="row g-3">
                <div class="col-sm-3 col-form-label"><label for="value">Value</label></div>
                <div class="col-auto"><input [(ngModel)]="minValue" [ngModelOptions]="{standalone: true}"
                  (ngModelChange)="minValue = minValue || 0" name="minValue" type="number" id="minValue"
                  placeholder="Minimum Value"></div>
                <div class="col-auto"><input [(ngModel)]="maxValue" [ngModelOptions]="{standalone: true}"
                  (ngModelChange)="maxValue = maxValue || 1000000000" name="maxValue" type="number" id="maxValue"
                  placeholder="Maximum Value"></div>
              </div>


              <div class="row g-3">
                <div class="col-sm-3 col-form-label"><label for="wage">Wage</label></div>
                <div class="col-auto"><input [(ngModel)]="minWage" [ngModelOptions]="{standalone: true}"
                  (ngModelChange)="minWage = minWage || 0" name="minWage" type="number" id="minWage"
                  placeholder="Minimum Wage"></div>
                <div class="col-auto"><input [(ngModel)]="maxWage" [ngModelOptions]="{standalone: true}"
                  (ngModelChange)="maxWage = maxWage || 1000000000" name="maxWage" type="number" id="maxWage"
                  placeholder="Maximum Wage"></div>
              </div>

              <div class="row g-3">
                <div class="col-sm-3 col-form-label"><label for="headingAccuracy">Heading Accuracy</label></div>
                <div class="col-auto"><input [(ngModel)]="minHeadingAccuracy" [ngModelOptions]="{standalone: true}"
                  (ngModelChange)="minHeadingAccuracy = minHeadingAccuracy || 0" name="minHeadingAccuracy" type="number" id="minHeadingAccuracy"
                  placeholder="Minimum HeadingAccuracy"></div>
                <div class="col-auto"><input [(ngModel)]="maxHeadingAccuracy" [ngModelOptions]="{standalone: true}"
                  (ngModelChange)="maxHeadingAccuracy = maxHeadingAccuracy || 100" name="maxHeadingAccuracy" type="number" id="maxHeadingAccuracy"
                  placeholder="Maximum HeadingAccuracy">
                </div>
              </div>

              <div class="row g-3">
                <div class="col-sm-3 col-form-label"><label for="volleys">Volleys</label></div>
                <div class="col-auto"><input [(ngModel)]="minVolleys" [ngModelOptions]="{standalone: true}"
                    (ngModelChange)="minVolleys = minVolleys || 0" name="minVolleys" type="number" id="minVolleys"
                    placeholder="Minimum Volleys"></div>
                    <div class="col-auto"><input [(ngModel)]="maxVolleys" [ngModelOptions]="{standalone: true}"
                      (ngModelChange)="maxVolleys = maxVolleys || 100" name="maxVolleys" type="number" id="maxVolleys"
                      placeholder="Minimum Volleys"></div>
              </div>

              <div class="row g-3">
                <div class="col-sm-3 col-form-label"><label for="dribbling">Dribbling</label></div>
                <div class="col-auto"><input [(ngModel)]="minDribbling" [ngModelOptions]="{standalone: true}"
                    (ngModelChange)="minDribbling = minDribbling || 0" name="minDribbling" type="number"
                    id="minDribbling" placeholder="Minimum Dribbling"></div>
                <div class="col-auto"><input [(ngModel)]="maxDribbling" [ngModelOptions]="{standalone: true}"
                  (ngModelChange)="maxDribbling = maxDribbling || 100" name="maxDribbling" type="number"
                  id="maxDribbling" placeholder="Maximum Dribbling"></div>
              </div>

              <div class="row g-3">
                <div class="col-sm-3 col-form-label"><label for="curve">Curve</label></div>
                <div class="col-auto"><input [(ngModel)]="minCurve" [ngModelOptions]="{standalone: true}"
                    (ngModelChange)="minCurve = minCurve || 0" name="minCurve" type="number" id="minCurve"
                    placeholder="Minimum Curve"></div>
                <div class="col-auto"><input [(ngModel)]="maxCurve" [ngModelOptions]="{standalone: true}"
                  (ngModelChange)="maxCurve = maxCurve || 100" name="maxCurve" type="number" id="maxCurve"
                  placeholder="Maximum Curve"></div>
              </div>
              <!-- <div class="row g-3">
                  <div class="col-sm-3 col-form-label"><label for="fkAccuracy">FK Accuracy</label></div>
                  <div class="col-auto"><input [(ngModel)]="minFkAccuracy" name="minFkAccuracy" type="number" id="minFkAccuracy" placeholder="Minimum fkAccuracy"></div>
                  <div class="col-auto"><input [(ngModel)]="maxFkAccuracy" name="maxFkAccuracy" type="number" id="maxFkAccuracy" placeholder="Maximum fkAccuracy"></div>
                </div> -->
              <div class="row g-3">
                <div class="col-sm-3 col-form-label"><label for="acceleration">Acceleration</label></div>
                <div class="col-auto"><input [(ngModel)]="minAcceleration" [ngModelOptions]="{standalone: true}"
                    (ngModelChange)="minAcceleration = minAcceleration || 0" name="minAcceleration" type="number"
                    id="minAcceleration" placeholder="Minimum Acceleration"></div>
                <div class="col-auto"><input [(ngModel)]="maxAcceleration" [ngModelOptions]="{standalone: true}"
                  (ngModelChange)="maxAcceleration = maxAcceleration || 100" name="maxAcceleration" type="number"
                  id="maxAcceleration" placeholder="Maximum Acceleration"></div>
              </div>
              <div class="row g-3">
                <div class="col-sm-3 col-form-label"><label for="sprintSpeed">Sprint Speed</label></div>
                <div class="col-auto"><input [(ngModel)]="minSprintSpeed" [ngModelOptions]="{standalone: true}"
                    (ngModelChange)="minSprintSpeed = minSprintSpeed || 0" name="minSprintSpeed" type="number"
                    id="minSprintSpeed" placeholder="Minimum Sprint Speed"></div>
                <div class="col-auto"><input [(ngModel)]="maxSprintSpeed" [ngModelOptions]="{standalone: true}"
                  (ngModelChange)="maxSprintSpeed = maxSprintSpeed || 100" name="maxSprintSpeed" type="number"
                  id="maxSprintSpeed" placeholder="Maximum Sprint Speed"></div>
              </div>
              <div class="row g-3">
                <div class="col-sm-3 col-form-label"><label for="agility">Agility</label></div>
                <div class="col-auto"><input [(ngModel)]="minAgility" [ngModelOptions]="{standalone: true}"
                  (ngModelChange)="minAgility = minAgility || 0" name="minAgility" type="number"
                  id="minAgility" placeholder="Minimum Agility"></div>
                <div class="col-auto"><input [(ngModel)]="maxAgility" [ngModelOptions]="{standalone: true}"
                  (ngModelChange)="maxAgility = maxAgility || 100" name="maxAgility" type="number"
                  id="maxAgility" placeholder="Maximum Agility"></div>
              </div>
              <div class="row g-3">
                <div class="col-sm-3 col-form-label"><label for="reaction">Reaction</label></div>
                <div class="col-auto"><input [(ngModel)]="minReaction" [ngModelOptions]="{standalone: true}"
                  (ngModelChange)="minReaction = minReaction || 0" name="minReaction" type="number"
                  id="minReaction" placeholder="Minimum Reaction"></div>
                <div class="col-auto"><input [(ngModel)]="maxReaction" [ngModelOptions]="{standalone: true}"
                  (ngModelChange)="maxReaction = maxReaction || 100" name="maxReaction" type="number"
                  id="maxReaction" placeholder="Maximum Reaction"></div>
              </div>
              <div class="row g-3">
                <div class="col-sm-3 col-form-label"><label for="balance">Balance</label></div>
                <div class="col-auto"><input [(ngModel)]="minBalance" [ngModelOptions]="{standalone: true}"
                  (ngModelChange)="minBalance = minBalance || 0" name="minBalance" type="number"
                  id="minBalance" placeholder="Minimum Balance"></div>
                <div class="col-auto"><input [(ngModel)]="maxBalance" [ngModelOptions]="{standalone: true}"
                  (ngModelChange)="maxBalance = maxBalance || 100" name="maxBalance" type="number"
                  id="maxBalance" placeholder="Maximum Balance"></div>
              </div>
              <div class="row g-3">
                <div class="col-sm-3 col-form-label"><label for="shotPower">Shot power</label></div>
                <div class="col-auto"><input [(ngModel)]="minShotPower" [ngModelOptions]="{standalone: true}"
                  (ngModelChange)="minShotPower = minShotPower || 0" name="minShotPower" type="number"
                  id="minShotPower" placeholder="Minimum ShotPower"></div>
                <div class="col-auto"><input [(ngModel)]="maxShotPower" [ngModelOptions]="{standalone: true}"
                  (ngModelChange)="maxShotPower = maxShotPower || 100" name="maxShotPower" type="number"
                  id="maxShotPower" placeholder="Maximum ShotPower"></div>
              </div>
              <div class="row g-3">
                <div class="col-sm-3 col-form-label"><label for="jumping">Jumping</label></div>
                <div class="col-auto"><input [(ngModel)]="minJumping" [ngModelOptions]="{standalone: true}"
                  (ngModelChange)="minJumping = minJumping || 0" name="minJumping" type="number"
                  id="minJumping" placeholder="Minimum Jumping"></div>
                <div class="col-auto"><input [(ngModel)]="maxJumping" [ngModelOptions]="{standalone: true}"
                  (ngModelChange)="maxJumping = maxJumping || 100" name="maxJumping" type="number"
                  id="maxJumping" placeholder="Maximum Jumping"></div>
              </div>
              <div class="row g-3">
                <div class="col-sm-3 col-form-label"><label for="stamina">Stamina</label></div>
                <div class="col-auto"><input [(ngModel)]="minStamina" [ngModelOptions]="{standalone: true}"
                  (ngModelChange)="minStamina = minStamina || 0" name="minStamina" type="number"
                  id="minStamina" placeholder="Minimum Stamina"></div>
                <div class="col-auto"><input [(ngModel)]="maxStamina" [ngModelOptions]="{standalone: true}"
                  (ngModelChange)="maxStamina = maxStamina || 100" name="maxStamina" type="number"
                  id="maxStamina" placeholder="Maximum Stamina"></div>
              </div>
              <div class="row g-3">
                <div class="col-sm-3 col-form-label"><label for="aggression">Aggression</label></div>
                <div class="col-auto"><input [(ngModel)]="minAggression" [ngModelOptions]="{standalone: true}"
                  (ngModelChange)="minAggression = minAggression || 0" name="minAggression" type="number"
                  id="minAggression" placeholder="Minimum Aggression"></div>
                <div class="col-auto"><input [(ngModel)]="maxAggression" [ngModelOptions]="{standalone: true}"
                  (ngModelChange)="maxAggression = maxAggression || 100" name="maxAggression" type="number"
                  id="maxAggression" placeholder="Maximum Aggression"></div>
              </div>
              <div class="row g-3">
                <div class="col-sm-3 col-form-label"><label for="longShots">Long shots</label></div>
                <div class="col-auto"><input [(ngModel)]="minLongShots" [ngModelOptions]="{standalone: true}"
                  (ngModelChange)="minLongShots = minLongShots || 0" name="minLongShots" type="number"
                  id="minLongShots" placeholder="Minimum LongShots"></div>
                <div class="col-auto"><input [(ngModel)]="maxLongShots" [ngModelOptions]="{standalone: true}"
                  (ngModelChange)="maxLongShots = maxLongShots || 100" name="maxLongShots" type="number"
                  id="maxLongShots" placeholder="Maximum LongShots"></div>
              </div>
              <div class="row g-3">
                <div class="col-sm-3 col-form-label"><label for="crossing">Crossing</label></div>
                <div class="col-auto"><input [(ngModel)]="minCrossing" [ngModelOptions]="{standalone: true}"
                  (ngModelChange)="minCrossing = minCrossing || 0" name="minCrossing" type="number"
                  id="minCrossing" placeholder="Minimum Crossing"></div>
                <div class="col-auto"><input [(ngModel)]="maxCrossing" [ngModelOptions]="{standalone: true}"
                  (ngModelChange)="maxCrossing = maxCrossing || 100" name="maxCrossing" type="number"
                  id="maxCrossing" placeholder="Maximum Crossing"></div>
              </div>
              <div class="row g-3">
                <div class="col-sm-3 col-form-label"><label for="finishing">Finishing</label></div>
                <div class="col-auto"><input [(ngModel)]="minFinishing" [ngModelOptions]="{standalone: true}"
                  (ngModelChange)="minFinishing = minFinishing || 0" name="minFinishing" type="number"
                  id="minFinishing" placeholder="Minimum Finishing"></div>
                <div class="col-auto"><input [(ngModel)]="maxFinishing" [ngModelOptions]="{standalone: true}"
                  (ngModelChange)="maxFinishing = maxFinishing || 100" name="maxFinishing" type="number"
                  id="maxFinishing" placeholder="Maximum Finishing"></div>
              </div>
              <div class="row g-3">
                <div class="col-sm-3 col-form-label"><label for="shortPassing">Short passing</label></div>
                <div class="col-auto"><input [(ngModel)]="minShortPassing" [ngModelOptions]="{standalone: true}"
                  (ngModelChange)="minShortPassing = minShortPassing || 0" name="minShortPassing" type="number"
                  id="minShortPassing" placeholder="Minimum ShortPassing"></div>
                <div class="col-auto"><input [(ngModel)]="maxShortPassing" [ngModelOptions]="{standalone: true}"
                  (ngModelChange)="maxShortPassing = maxShortPassing || 100" name="maxShortPassing" type="number"
                  id="maxShortPassing" placeholder="Maximum ShortPassing"></div>
              </div>

              <div class="row g-2">
                <div class="col-sm-3 col-form-label"><label for="preferredFoot">Preferred foot</label></div>

                <div class="col-auto"><input [(ngModel)]="preferredFoot" class="form-check-input" type="radio"
                    name="preferredFootRadios" id="any" value="" checked>
                  <label class="form-check-label" for="any">Any</label>
                </div>
                <div class="col-auto"><input [(ngModel)]="preferredFoot" class="form-check-input" type="radio"
                    name="preferredFootRadios" id="right" value="Right">
                  <label class="form-check-label" for="right">Right</label>
                </div>
                <div class="col-auto"><input [(ngModel)]="preferredFoot" class="form-check-input" type="radio"
                    name="preferredFootRadios" id="left" value="left">
                  <label class="form-check-label" for="left">Left</label>
                </div>
              </div>





              <div class="row g-2">
                <div class="col-auto"><button type="submit" class="btn btn-primary"
                    (click)="goToPage(searchForm.value.name,fifaVersion,clubFilter.value,preferredFoot,ageMin,ageMax,overallMin,overallMax,potentialMin,potentialMax,heightMin,heightMax,minValue,maxValue,minWage,maxWage,minHeadingAccuracy,maxHeadingAccuracy,minVolleys,maxVolleys,minDribbling,maxDribbling,minCurve,maxCurve,minFkAccuracy,maxFkAccuracy,minAcceleration,maxAcceleration,minSprintSpeed,maxSprintSpeed,minAgility,maxAgility,minReaction,maxReaction,minBalance,maxBalance,minShotPower,maxShotPower,minJumping,maxJumping,minStamina,maxStamina,minAggression,maxAggression,minLongShots,maxLongShots,minCrossing,maxCrossing,minFinishing,maxFinishing,minShortPassing,maxShortPassing)">Filter</button>
                </div>
                <div class="col-auto"><button type="button" class="btn btn-primary"
                    (click)="resetValues(searchForm.value.name)">Clear filters</button></div>
              </div>
            </form>
          </div>
        </ul>
        <form #searchForm="ngForm"
          (ngSubmit)="goToPage(searchForm.value.name,fifaVersion,clubFilter.value,preferredFoot,ageMin,ageMax,overallMin,overallMax,potentialMin,potentialMax,heightMin,heightMax,minValue,maxValue,minWage,maxWage,minHeadingAccuracy,maxHeadingAccuracy,minVolleys,maxVolleys,minDribbling,maxDribbling,minCurve,maxCurve,minFkAccuracy,maxFkAccuracy,minAcceleration,maxAcceleration,minSprintSpeed,maxSprintSpeed,minAgility,maxAgility,minReaction,maxReaction,minBalance,maxBalance,minShotPower,maxShotPower,minJumping,maxJumping,minStamina,maxStamina,minAggression,maxAggression,minLongShots,maxLongShots,minCrossing,maxCrossing,minFinishing,maxFinishing,minShortPassing,maxShortPassing)"
          class="d-flex" role="search">
          <input type="search" name="name" ngModel class="form-control me-2" placeholder="Search players"
            aria-label="Search">
          <button class="btn btn-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-12 mt-3">
        <ng-container *ngSwitchCase="'APP_ERROR'">{{ state.error | json }}</ng-container>
        <ng-container *ngSwitchCase="'APP_LOADING'">
          <div class="d-flex justify-content-center mt-4">
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="'APP_LOADED'">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col">Photo</th>
                <th scope="col">Known Name</th>
                <th scope="col"></th>
                <th class="sortable" scope="col" (click)="sortByColumn(sortableColumns[0])">Age
                  <span [innerHTML]="sortArrow(sortableColumns[0].column)"></span>
                </th>
                <th scope="col">Nationality</th>
                <th scope="col">Club</th>
                <th class="sortable" scope="col" (click)="sortByColumn(sortableColumns[1])">Overall
                  <span [innerHTML]="sortArrow(sortableColumns[1].column)"></span>
                </th>
                <th class="sortable" scope="col" (click)="sortByColumn(sortableColumns[2])">Potential
                  <span [innerHTML]="sortArrow(sortableColumns[2].column)"></span>
                </th>
                <th scope="col">Best Position</th>
                <th class="sortable" scope="col" (click)="sortByColumn(sortableColumns[3])">Value EUR
                  <span [innerHTML]="sortArrow(sortableColumns[3].column)"></span>
                </th>
                <th class="sortable" scope="col" (click)="sortByColumn(sortableColumns[4])">Height
                  <span [innerHTML]="sortArrow(sortableColumns[4].column)"></span>
                </th>
                <th class="sortable" scope="col" (click)="sortByColumn(sortableColumns[5])">Weight
                  <span [innerHTML]="sortArrow(sortableColumns[5].column)"></span>
                </th>
                <th class="sortable" scope="col" [hidden]="condArray[0]" (click)="sortByColumn(sortableColumns[6])">Heading Accuracy
                  <span [innerHTML]="sortArrow(sortableColumns[6].column)"></span>
                </th>
                <th class="sortable" scope="col" [hidden]="condArray[1]" (click)="sortByColumn(sortableColumns[7])">Volleys
                  <span [innerHTML]="sortArrow(sortableColumns[7].column)"></span>
                </th>
                <th class="sortable" scope="col" [hidden]="condArray[2]" (click)="sortByColumn(sortableColumns[8])">Dribbling
                  <span [innerHTML]="sortArrow(sortableColumns[8].column)"></span>
                </th>
                <th class="sortable" scope="col" [hidden]="condArray[3]" (click)="sortByColumn(sortableColumns[9])">Curve
                  <span [innerHTML]="sortArrow(sortableColumns[9].column)"></span>
                </th>
                <th class="sortable" scope="col" [hidden]="condArray[4]" (click)="sortByColumn(sortableColumns[10])">FK Accuracy
                  <span [innerHTML]="sortArrow(sortableColumns[10].column)"></span>
                </th>
                <th class="sortable" scope="col" [hidden]="condArray[5]" (click)="sortByColumn(sortableColumns[11])">Acceleration
                  <span [innerHTML]="sortArrow(sortableColumns[11].column)"></span>
                </th>
                <th class="sortable" scope="col" [hidden]="condArray[6]" (click)="sortByColumn(sortableColumns[12])">Sprint Speed
                  <span [innerHTML]="sortArrow(sortableColumns[12].column)"></span>
                </th>
                <th class="sortable" scope="col" [hidden]="condArray[7]" (click)="sortByColumn(sortableColumns[13])">Agility
                  <span [innerHTML]="sortArrow(sortableColumns[13].column)"></span>
                </th>
                <th class="sortable" scope="col" [hidden]="condArray[8]" (click)="sortByColumn(sortableColumns[14])">Reaction
                  <span [innerHTML]="sortArrow(sortableColumns[14].column)"></span>
                </th>
                <th class="sortable" scope="col" [hidden]="condArray[9]" (click)="sortByColumn(sortableColumns[15])">Balance
                  <span [innerHTML]="sortArrow(sortableColumns[15].column)"></span>
                </th>
                <th class="sortable" scope="col" [hidden]="condArray[10]" (click)="sortByColumn(sortableColumns[16])">Shot Power
                  <span [innerHTML]="sortArrow(sortableColumns[16].column)"></span>
                </th>
                <th class="sortable" scope="col" [hidden]="condArray[11]" (click)="sortByColumn(sortableColumns[17])">Jumping
                  <span [innerHTML]="sortArrow(sortableColumns[17].column)"></span>
                </th>
                <th class="sortable" scope="col" [hidden]="condArray[12]" (click)="sortByColumn(sortableColumns[18])">Stamina
                  <span [innerHTML]="sortArrow(sortableColumns[18].column)"></span>
                </th>
                <th class="sortable" scope="col" [hidden]="condArray[13]" (click)="sortByColumn(sortableColumns[19])">Aggression
                  <span [innerHTML]="sortArrow(sortableColumns[19].column)"></span>
                </th>
                <th class="sortable" scope="col" [hidden]="condArray[14]" (click)="sortByColumn(sortableColumns[20])">Long Shots
                  <span [innerHTML]="sortArrow(sortableColumns[20].column)"></span>
                </th>
                <th class="sortable" scope="col" [hidden]="condArray[15]" (click)="sortByColumn(sortableColumns[21])">Crossing
                  <span [innerHTML]="sortArrow(sortableColumns[21].column)"></span>
                </th>
                <th class="sortable" scope="col" [hidden]="condArray[16]" (click)="sortByColumn(sortableColumns[22])">Finishing
                  <span [innerHTML]="sortArrow(sortableColumns[22].column)"></span>
                </th>
                <th class="sortable" scope="col" [hidden]="condArray[17]" (click)="sortByColumn(sortableColumns[23])">Short Passing
                  <span [innerHTML]="sortArrow(sortableColumns[23].column)"></span>
                </th>
                <th class="sortable" scope="col" [hidden]="condArray[18]" (click)="sortByColumn(sortableColumns[24])">Wage
                  <span [innerHTML]="sortArrow(sortableColumns[24].column)"></span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let spieler of state.appData.data.page.content; let i = index;">
                <!-- <mat-checkbox (change)="toggleSelection(spieler)"></mat-checkbox> -->
              <tr *ngFor="let spieler of state.appData.data.page.content; let i = index;">
                <th scope="row">
                  <mat-icon matTooltip="Delete for displayed Fifaversion" class="deleteBin" (click)="deletePerFifaVersionLogic(spieler.playerId, spieler.fifaVersion)">delete</mat-icon>
                  <mat-icon matTooltip="Delete for every Fifaversion" class="deleteBinSweep" (click)="deleteAllLogic(spieler.playerId)">delete_sweep</mat-icon>
                </th>
                <th scope="row">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    [value]="spieler.playerId"
                    (change)="toggleSelection(spieler)" />
                </th>
                <th scope="row"><img [src]="spieler.photoURL" width="42" height="42" class="rounded-circle" appHideMissing></th>
                <td>{{ spieler.knownName }}</td>
                <td><img src="assets/images/nameinfo.svg" [matTooltip]="spieler.fullName" [width]="20" [height]="20" class="nameinfo"></td>
                <td>{{ spieler.age }}</td>
                <td><img [src]="spieler.flag" [alt]="" width="56" height="42" class="rounded" appHideMissing></td>
                <td><img [src]="spieler.clubLogo" [alt]="" [title]="spieler.clubName" [width]="42" height="42" class="rounded-circle" appHideMissing></td>
                <td>{{ spieler.overall }}</td>
                <td>{{ spieler.potential }}</td>
                <td>{{ spieler.bestPos }}</td>
                <td>{{ formatter.format(spieler.valueEUR) }}</td>
                <td>{{ spieler.height }}</td>
                <td>{{ spieler.weight }}</td>
                <!-- -------------------- -->
                <td [hidden]="condArray[0]">{{ spieler.headingAccuracy }}</td>
                <td [hidden]="condArray[1]">{{ spieler.volleys }}</td>
                <td [hidden]="condArray[2]">{{ spieler.dribbling }}</td>
                <td [hidden]="condArray[3]">{{ spieler.curve }}</td>
                <td [hidden]="condArray[4]">{{ spieler.fkAccuracy }}</td>
                <td [hidden]="condArray[5]">{{ spieler.acceleration }}</td>
                <td [hidden]="condArray[6]">{{ spieler.sprintSpeed }}</td>
                <td [hidden]="condArray[7]">{{ spieler.agility }}</td>
                <td [hidden]="condArray[8]">{{ spieler.reaction }}</td>
                <td [hidden]="condArray[9]">{{ spieler.balance }}</td>
                <td [hidden]="condArray[10]">{{ spieler.shotPower }}</td>
                <td [hidden]="condArray[11]">{{ spieler.jumping }}</td>
                <td [hidden]="condArray[12]">{{ spieler.stamina }}</td>
                <td [hidden]="condArray[13]">{{ spieler.aggression }}</td>
                <td [hidden]="condArray[14]">{{ spieler.longShots }}</td>
                <td [hidden]="condArray[15]">{{ spieler.crossing }}</td>
                <td [hidden]="condArray[16]">{{ spieler.finishing }}</td>
                <td [hidden]="condArray[17]">{{ spieler.shortPassing }}</td>
                <td [hidden]="condArray[18]">{{ formatter.format(spieler.wage) }}</td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="state.appData.data.page.content.length < 1" class="alert alert-secondary" role="alert">
            No players found
          </div>
          <nav *ngIf="state.appData.data.page.content.length > 0" aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
              <li class="page-item pointer" [ngClass]="0 == (currentPage$ | async) ? ' disabled' : ''">
                <a (click)="goToNextOrPreviousPage('backward')" class="page-link"
                  aria-label="Previous">
                  <span aria-hidden="true">&laquo; Previous</span>
                </a>
              </li>

              <ng-container *ngFor="let pageNumber of [].constructor(state.appData.data.page.totalPages); let i = index;">
                <li *ngIf="shouldShowPage(i, currentPage$ | async)"
                    class="page-item pointer" [ngClass]="i == (currentPage$ | async) ? ' active' : ''">
                  <a (click)="goToPage(searchForm.value.name,fifaVersion,clubFilter.value,preferredFoot,ageMin,ageMax,overallMin,overallMax,potentialMin,potentialMax,heightMin,heightMax,minValue,maxValue,minWage,maxWage,minHeadingAccuracy,maxHeadingAccuracy,minVolleys,maxVolleys,minDribbling,maxDribbling,minCurve,maxCurve,minFkAccuracy,maxFkAccuracy,minAcceleration,maxAcceleration,minSprintSpeed,maxSprintSpeed,minAgility,maxAgility,minReaction,maxReaction,minBalance,maxBalance,minShotPower,maxShotPower,minJumping,maxJumping,minStamina,maxStamina,minAggression,maxAggression,minLongShots,maxLongShots,minCrossing,maxCrossing,minFinishing,maxFinishing,minShortPassing,maxShortPassing, i)"
                     class="page-link">
                    {{ i == 0 ? 1 : i + 1}}
                  </a>
                </li>
              </ng-container>

              <li class="page-item pointer"
                [ngClass]="(state.appData.data.page.totalPages - 1) == (currentPage$ | async) ? ' disabled' : ''">
                <a (click)="goToNextOrPreviousPage('forward')" class="page-link"
                  aria-label="Next">
                  <span aria-hidden="true">Next &raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        </ng-container>
      </div>
    </div>
  </div>
</ng-container>

<router-outlet></router-outlet>
