
<div  class="fut-player-card"  >
    <div class="player-card-top">
        <div class="player-master-info">
            <div class="player-rating">
                <span>{{player?.overall}}</span>
            </div>
            <div class="player-position">
                <span>{{player?.bestPosition}}</span>
            </div>
            <div class="player-nation">
              <img mat-card-avatar [src]="theplayer?.flag" alt="Club Logo" style="background-size: cover;">
            </div>
            <div class="player-club">
                <img [src]="player?.clubID?.clubLogo" alt="" draggable="false"/>
                
            </div>
        </div>
        <div class="player-picture">
            <img src = {{player?.photoUrl}} alt="ilblnot avae" draggable="false"/>
            <div class="player-extra">
                
    </div>
        </div>
    </div>
    <div class="player-card-bottom">
        <div class="player-info">
            {{theplayer?.knownName}}
            <div  class="player-name" >
                <span></span>
            </div>
            <div>
                {{theplayer?.countryName}}
            </div>
            <!-- Player Features-->
            <div class="player-features">
                <div class="player-features-col">
                  <span>
                    <div class="player-feature-value">{{ player?.bestPosition === 'GK' ? player?.gkdiving : calculate_pace() }}</div>
                    <div class="player-feature-title">{{ player?.bestPosition === 'GK' ? 'DIV' : 'PAC' }}</div>
                  </span>
                  <span>
                    <div class="player-feature-value">{{ player?.bestPosition === 'GK' ? player?.gkhandling : calculate_shouting() }}</div>
                    <div class="player-feature-title">{{ player?.bestPosition === 'GK' ? 'HAN' : 'SHO' }}</div>
                  </span>
                  <span>
                    <div class="player-feature-value">{{ player?.bestPosition === 'GK' ? player?.gkkicking : calculate_passing() }}</div>
                    <div class="player-feature-title">{{ player?.bestPosition === 'GK' ? 'KIC' : 'PAS' }}</div>
                  </span>
                </div>
                <div class="player-features-col">
                  <span>
                    <div class="player-feature-value">{{ player?.bestPosition === 'GK' ? player?.gkreflexes : calculate_dribling() }}</div>
                    <div class="player-feature-title">{{ player?.bestPosition === 'GK' ? 'REF' : 'DRI' }}</div>
                  </span>
                  <span>
                    <div class="player-feature-value">{{ player?.bestPosition === 'GK' ? player?.gkpositioning : calculate_pace() }}</div>
                    <div class="player-feature-title">{{ player?.bestPosition === 'GK' ? 'SPE' : 'DEF' }}</div>
                  </span>
                  <span>
                    <div class="player-feature-value">{{ player?.bestPosition === 'GK' ? player?.gkdiving : calculate_physical() }}</div>
                    <div class="player-feature-title">{{ player?.bestPosition === 'GK' ? 'POS' : 'PHY' }}</div>
                  </span>
                </div>
              </div>
              
        </div>
        <div>
      </div>